<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div>
    
  <input class="form-control" placeholder="Email" type="text" list="contacts" value="" name="user[email]" id="user_email" onkeypress="autocomplet_user()">
  <datalist id="contacts">
    </datalist>
    <%= f.submit "Create Friend",class:"mybutton btn" %>
  </div>
 <% end %>

 