<div class="contact">
  <div class="wrap">
    <div class="section group">
      <div class="col span_2_of_3">
        <div class="contact-form">
          <h1>New Order</h1>

<<<<<<< HEAD
<div class="row container">
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
	<div id="users-container" class="wrap solid col-md-6">
	</div>
	<br />
</div>

<%= link_to 'Back', ordrs_path %>a
=======
          <%= render 'form' %>

          <%= link_to 'Back', ordrs_path %>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> 631635f2a5b335776162aa6bb65e4971ee4d96eb
