<h1>New Ordr</h1>

<div class="row container">
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
	<div id="users-container" class="wrap solid col-md-6">
	</div>
	<br />
</div>

<%= link_to 'Back', ordrs_path %>a