<div class="header">
  <div class="wrap">
    <div class="top-header">
      <div class="logo">
        <a href="index.html"><%= image_tag("logo2.png",width:"250px") %></a>
      </div>
      <div class="social-icons">
        <ul>
          <li><a href="#"><%= image_tag("facebook.png") %></a></li>
          <li><a href="#"><%= image_tag("twitter.png") %></a></li>
          <li><a href="#"><%= image_tag("google.png") %></a></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
    <!---start-top-nav---->
    <div class="top-nav">
      <div class="top-nav-left">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="top-nav-right">
        <form>
          <input type="text"><input type="submit" value="" />
        </form>
      </div>
      <div class="clear"> </div>
    </div>
    <!---End-top-nav---->
  </div>
</div>
